extends ../layout

block content
    h1.
         #{title}
    ul
        - each product, i in products
            li
                = product.sku
                br
                = product.type
                br
                = product.title
                br
                = product.description
   